<div class="row">
    <div class="col">
        <input type="text" #termino (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar Artista">
    </div>
</div>

<hr>
<app-loading *ngIf="loading" ></app-loading>

<app-tarjetas *ngIf="!loading" [items]="artistas" class="m-5" ></app-tarjetas>

