<h1 class="font-weight-bolder">Home</h1>
<h5 class="font-weight-bolder mt-5 ">Nuevos lanzamientos</h5>
<hr>
<app-loading *ngIf="loading"></app-loading>

<div *ngIf="error" class="alert alert-danger animated fadeIn">
  <h3>Error token vencido</h3>
  <p> Coloca un nuevo token y actualiza para otra hora de el Spotify de Christian</p>
  
  <div class="col">
    <input #termino (keyup.enter)="0" class="form-control" placeholder="Nuevo token">
  </div>

  <div class="col text-right mt-2">
    <button (click)="ActualizarToken(termino.value)" class="btn btn-outline-success">
      Actualizar Token
    </button>
  </div>

</div>


<app-tarjetas [items]="nuevasCanciones"></app-tarjetas>